/flavio_eeg_data
/test_variability_plots
/test_results
/quick_test_results
/nm_theta_results
/nm_theta_results_roi
/test_custom_results
/nm_multi_session_rat_10501
/nm_roi_theta_results
all_eeg_data.pkl

